.activity-form-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #ccc; /* Added */
}

.activity-line {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: left;
}

.activity-line label {
  margin-bottom: 0px;
  font-size: 16px;
  display: block;
  padding-bottom: 10px;
}

.activity-line input,
.activity-line select,
.activity-line textarea {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.activity-button {
  background-color: #0066FF;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

/* Responsive styles */
@media (max-width: 600px) {
  .activity-form-container {
    padding: 10px;
  }

  .activity-line {
    margin-bottom: 10px;
  }

  .activity-line label {
    margin-bottom: 5px;
  }

  .activity-line input,
  .activity-line select,
  .activity-line textarea {
    padding: 5px;
  }

  .activity-button {
    padding: 5px 10px;
  }
}