/* footer.css */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  height: 300px; /* Set the height of the footer */
 margin-top: 50px;
}

.social-media {
  display: flex;
}

.social-media a {
  margin-right: 20px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.copyright {
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .social-media {
    margin-bottom: 20px;
  }

  .social-media a {
    margin-right: 10px;
  }
}