/* Footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  background-color: rgb(56, 135, 190);
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.social-media {
  display: flex;
  align-items: center;

}

.facebook-icon {
  margin-right: 200px;
  width: 30px;
  height: 30px;

}

.instagram-icon {
  text-align: center;
  position: fixed;
  margin-top: 40px;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
}

.share-icon {
  margin-left: 1200px;
  width: 30px;
  height: 30px;


}

.copyright {

  text-align: center;
  position: fixed;
  margin-top: 40px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/* Media queries */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .social-media {
    margin-top: 20px;
  }
}