/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --button-color: #DC3030;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px; /* Adjust as needed */
  color: #fff; /* Adjust as needed */
}
.settings-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Show the nav-menu by default */
.nav-menu {
  display: flex;  /* Changed from 'none' */
}
header {
  background: #171717;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px; /* Spacing between nav links */
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;


}
  
.home > button {
  background: var(--button-color);
  border: 0;
  width: 400px;
  font-size: 26px;
  font-family: "Poppins";
  font-weight: 500;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  align-self: flex-start; /* This will align the button to the left side */
}

.appointment-details {
  display: flex;
  flex-direction: column;
  background: #fff;
  max-width: 400px;
  border-radius: 8px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
 
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.appointment-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.appointment-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.appointment-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* form styles */
form {
  width: 100%;       /* Ensures the form takes up the full width of its container */
  max-width: 400px;  /* Sets the maximum width of the form */
  height: 400px;     /* Sets the height of the form */
  overflow-y: auto;  /* Adds a vertical scrollbar if content overflows */
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  margin: 20px auto;

}

label, input, select, textarea {
  display: block;
}

input, select, textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button, .home > button {
  background: var(--button-color);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

div.error, div.success {
  padding: 10px;
  border-radius: 4px;
  margin: 20px 0;
}

div.error {
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
}

div.success {
  background: #e6ffe6;
  border: 1px solid #33cc33;
  color: #33cc33;
  
}


/* Responsive styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column; /* Align links vertically on mobile */
    width: 100%; /* Full width for mobile navigation */
  }
   .nav-menu.active {
    display: block;
  }
  .home {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  header .container {
    flex-direction: column;
    align-items: center; /* Center items for smaller screens */
    text-align: center; /* Center text for smaller screens */
  }

  header a {
    display: block; /* Stack nav links vertically */
    margin: 10px 0; /* Adjust spacing for vertical stacking */
  }

  .home > button {
    width: 100%; /* Makes the button full width on smaller screens */
    margin-top: 10px;
    align-self: center; /* Center the button */
  }

  form {
    max-width: 100%; /* Allows the form to take up the full width on smaller screens */
  }
}